/* Original CSS */

/* Common styles */
.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  
  position:fixed;
  background-color: #f1f1f1;
top: 0;
left: 0;
right: 0;
z-index: 1000;
}

.navbar {
  display: flex;
  text-align: center;
  height: 100px; /* Lowercase 'px' */
  align-items: center;
  justify-content: right; /* Consider using 'flex-end' */
  margin-left: 400px; /* This might need adjustment for responsiveness */
 
}

.navbar ul {
  display: flex;
  justify-content: center;
  list-style: none;
  align-items: center;
}

.navbar ul li a {
  color: black;
  margin: 20px;
  text-decoration: none;
  font-size: 13px;
  opacity: 0.7;
  transition: 0.5s;
  align-items: center;
}

.navbar ul li a:hover {
  opacity: 1;
}

/* Dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute; /* Adjusted for dropdown */
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}


.icon-buttons{
 display: flex;
 justify-content: center;
 align-items: center;
}


.icon-buttons a {
  color: black;
  margin: 20px;
}




/* Media Query for smaller screens */
@media screen and (max-width: 768px) {
   .header{
   
  
    justify-content: space-between;
    height: 170px;
     }
 
  .navbar {
    
    flex-direction: column;
    margin-left: 0; /* Reset margin */
  
  }

  .navbar ul li a {
    margin: 10px; /* Adjusted margin */
    text-align: center;
    
  }

  .icon-buttons a {
    margin: 10px; /* Adjusted margin */

     /* Additional CSS to prevent overflow */
  
  }
  .navbar ul {
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Centering vertically */


  }

  .footer-Nav ul li {
    text-align: center;
    margin: 10px;
  }
}
