/* Media query for screens smaller than 768px (typical for mobile devices) */
@media screen and (max-width: 350px) {

  .header{
    display: flex;
    flex-direction: column; /* Change direction to column for smaller screens */
    align-items: center;
  }

  .left-section,
  .middle-section,
  .right-section {
    width: 100%; /* Make sections take full width */
    text-align: center; /* Center align text in sections */
    margin: 10px 0; /* Reduce margin for smaller screens */
  }

  .logo img{
    width: 150px; /* Reduce logo size for smaller screens */
    height: auto; /* Maintain aspect ratio */
  }

  .navbar ul {
    display: flex;
    justify-content: center;
    padding: 0; /* Remove default padding */
  }

  .navbar ul li {
    margin: 5px 10px; /* Adjusted margin for smaller screens */
  }

  .navbar ul li a {
    font-size: 14px; /* Reduce font size for smaller screens */
  }

}


.header{
  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.left-section{
  text-decoration: none;
}

.logo img{
  width: 200px;
  height: 200px;
}



.middle-section{
width: 700px;
text-decoration: none;
margin: 20px;
}


.navbar ul {
  display: flex;
  justify-content: center;
 
}

.navbar ul li {
  list-style: none;
  margin-top: 10px;
  padding-left: 20px; /* Adjusted padding */
}

.navbar ul li a {
  color: black;
  text-decoration: none;
  padding: 0 10px; /* Adjusted padding */
  font-size: 17px;
  
}

.right-section{
  
}